<div id="profile">
  <table>
  <% @users[params[:name].to_sym].each do |category, data| %>
    <tr>
    <th class="subheading"><%= category.downcase %></th>
    <td><%= data.class == String ? data.downcase : data.map(&:downcase).join(", ") %></td>
    </tr>
  <% end %>
  </table>
</div>
<hr>
<div id="navigation">
  <%= generate_navigation_links(params[:name]) %>
  <br><%= html_link("/", "all users") %>
</div>