body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #666;
  background-color: #eee;
  margin: 0;
}

div#content {
  background-color: white;
  margin: auto;
  min-height: 100vh;
  width: 60%;
  padding: 8px;
}

#navigation, #summary {
  text-align: center;  
}

a {
  color: red;
  text-decoration: none;
}

ul {
  list-style-type: ".";
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 70px;
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
}

h2, .subheading {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #333;
  margin: 8px;
}

table, td {
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
}

th {
  text-align: right;
}

.menu {
  font-family: 'Courier New', Courier, monospace;
}

.tab { 
  margin-left: 40px;
}

hr {
  border: 0;
  height: 0;
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
