body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #666;
}

a {
  color: red;
  text-decoration: none;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 70px;
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
}

h2, #subheading {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
}

.menu {
  font-family: 'Courier New', Courier, monospace;
}

.tab { 
  margin-left: 40px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
